div.splash {
	text-align: center;
	font-family: sans-serif;
	font-size: 16px;
}

div.splash h1 {
	font-size: 5em;
}

div.splash h3 {
	font-size: 2em;
}

div.feedback-page {}

div.feedback-page form {
	max-width: 600px;
	margin: 0 auto;
}